<div class="row ">
  <div class="col-md-4 text-center calendar_control">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="fa-solid fa-backward"></i>
      <% end %>

      <%= "#{@date.year} 年　#{@date.strftime("%m")}月" %>

      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="fa-solid fa-forward"></i>
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 calendar_control">
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>